body {
    background-color: #030410;
    color: #ffffff;
    margin: 0;
}
header{
    margin: 0px;
}
button {
    border: none;
    border-style: none;
}
img {
    object-fit: cover;
}
p, span, div {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: "Overpass";
}
label {
    display: flex;
    color: white;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: 600;
    margin: 50px 0 50px 0;
}
body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;
    border: 2px solid #030410;       /* закругления плашки */
  }
@font-face {
	font-family: Overpass; 
	src: url(/fonts/Overpass/Overpass-VariableFont_wght.ttf);
}
@font-face {
	font-family: Overpass_Italic; 
	src: url(/fonts/Overpass/Overpass-Italic-VariableFont_wght.ttf); 
}
@font-face {
	font-family: Roboto; 
	src: url(/fonts/Roboto/Roboto.ttf);
    font-size: 32px;
}
@font-face {
	font-family: Roboto_Italic; 
	src: url(/fonts/Roboto/Roboto-Italic.ttf);
    font-size: 20px;
}

a {
    text-decoration: none;
}

/* HEADER */
.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
}
.header {
    background-color: #030410;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  }
   

.header_container{
    width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

.navigation {
    display: flex;
    background-color: #030410;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.sign_in {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.enter {
    width: 400px;
    height: 38px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding-left: 25px;
    margin-bottom: 20px;
}
.placeholders{
    display: flex;
    flex-direction: column
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.header_btn {
    border: none;
    background-color: #030410;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
}
.header_btn:hover {
    color: #057D9F;
}
.dropdown {
    margin: 10px;
    position: relative;
    display: inline-block;
    float:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}

/* CATALOG */
.container_ad{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 20px 0;
    background-color: white;
    color: #030410;
    gap: 20px;
    border-radius: 5px;
}
.extra-inf-ad{
    display: flex;
}
.ad-title{
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 800;
}
.ad-text{
    margin-bottom: 10px;
    font-size: 16px;
}

#circle {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: red;
}
#circle2{
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background: #057D9F;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
.tags {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: 7px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}
.ad_nuance {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    font-size: 20px;
    
}
.favorite-add-button {
    top: 0;
    right: 10px;
    cursor: pointer;
    display:flex;
    align-items: center;
    vertical-align: middle;
}
.favorite-add-button:before {
    content: "\f006";
    font-family: FontAwesome;
    font-size: 48px;
    color: black;
}
.favorite-add-button:hover::before {
    color: #057D9F;
}

/* BUTTONS */

.dark_btn_s {
    display: flex;
    height: 54px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transition: color 0.1s linear;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.dark_btn_s:hover{
    background-color: #057D9F;
    color: #f1f1f1;
}
.dark_btn_line{  
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.1s linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #030410;
    color: #FFFFFF;
}
.dark_btn_line:hover{
    color: #057D9F;

}

/* ACCOUNT */
.container-person{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 75px;
    margin: 20px 0 100px 0;
}
.banner {
    position: absolute;
    max-width:none;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    margin: 0 auto 20px 0;
    background-color: #a3a3a3;
    object-fit: cover;
}

.avatar-account{
    margin-top:20px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 10px solid #030410;
}
.avatar-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-edit{
    width: 300px;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    
}
.gallery-post{
    width: 398px;
    height: 398px;
    object-fit: cover;
    border: 4px solid #030410;
}

/* Поисковая строка */
* {box-sizing: border-box;}
.search-box {
    padding: 2px;
    position: relative;
    margin: 0px 0 20px 0;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.search-input, .search-button, .filters-button, .user-button,.favorite-button, .messanger-button, .favorite-add-button, .comment-input {
    border: none;
    outline: none;
    background: transparent;
}
.search-input {
    width: 1100px;
    height: 30px;
    padding-left: 15px;
}
.search-button {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}
.search-button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: black;
}

.filters-button{
    margin: 0px 10px 20px 0;
    top: 0;
    right: 40px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.filters-button:before {
    content: "\f0b0";
    font-family: FontAwesome;
    font-size: 24px;
    color: white;
}
.filters-button:hover::before {
    color: #057D9F;
}
.search-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 30px;
}

/* MESSENGER */
.container-interlocutors{
    width: 300px;
}
.interlocutors {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}
.interloc-block{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    isolation: isolate;
    height: 51px;
    
}
.interloc-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    isolation: isolate;
    width: 35px;
}
.avatar-60px{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid #030410;
}
.avatar-50px{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #030410;
}
.time{
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
}
.container-interlocutors{
    
}
.chat {
    background-color: red;
    height: 800px;
    width: 800px;
    position: sticky;
    top: 66px;
}
.messenger{
    display: flex;
    flex-wrap: wrap;
}



/* FONTS */
.roboto-20px{
    
}
.overpass-16px{
    font-family: 'Overpass';
    font-weight: 400;
    width: 200px;
    font-size: 16px;
    line-height: 23px;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis;
}
.roboto-60px{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.favorite-button {
    top: 0;
    right: 10px;
    cursor: pointer;
}
.favorite-button:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 24px;
    color: white;
}
.favorite-button:hover::before {
    color: #057D9F;
}
.messanger-button {
    top: 0;
    right: 10px;
    cursor: pointer;
}
.messanger-button:before {
    content: "\f0e6";
    font-family: FontAwesome;
    font-size: 24px;
    color: white;
}
.messanger-button:hover::before {
    color: #057D9F;
}
.user-button {
    top: 0;
    right: 10px;
    cursor: pointer;
}
.user-button:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 24px;
    color: white;
}
.user-button:hover::before {
    color: #057D9F;
}

.type-of-order-box{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    width: 100%;
    max-width: none;
    
}
.type-of-order-box:hover{
    box-shadow: 0 0 20px 0 #057D9F inset;
    z-index: 1;
    transition: opacity 1s linear; 
   
}

  .logo-main{
    display: flex;
    min-height: 636px;
    flex-direction: row;
    align-items: center;
    gap: 200px;
    justify-content: center;
    vertical-align: middle;
    scroll-snap-align: end;
  }
  .inform-1{
    display: flex;
    flex-direction: column;
    align-items:center;
    vertical-align: middle;
    padding: 0px;
    gap: 50px;
  }
  .section {
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    height: 100%;
    width: 100%;
  }
.gif_main{
    position: absolute;
    width: 100%; 
    height: 700px; 
}
.nav-enter{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.error_str{
    color: brown;
    opacity: 1;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}
/* FEED */
.feed {
    display:flex;
    justify-content: space-between;
}
.scroll_users {
    display: flex;
    flex-direction: column;
}
.user-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}
.post{
    width: 500px;
    height: 500px;
}
.like-button {
    top: 0;
    right: 10px;
    cursor: pointer;
    display:flex;
    align-items: center;
    vertical-align: middle;
}
.likes{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 30px;
}
.like-button:before {
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 24px;
    color: white;
}
.like-button:hover::before {
    color: #d3007f;
}
.head-comment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}
.comments{
    margin: 0 0 40px 0;
    border-radius: 5px;
    border: 2px white solid;
    width: 600px;
    height: var(--comment-height);
    padding: 20px;
}
.comments-block{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 600px;
}
.title{
    font-size: 24px;
    height: 60px;
}
.comment-input{
    display: inline-block;
    width: 600px;
    min-height: 30px;
    padding: 2px 50px 2px 20px;
    color: black;
}
.comment-input[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #FFFFFF;
  }
.sent-button{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}
.sent-button:before {
    content: "\f1d8";
    font-family: FontAwesome;
    font-size: 24px;
    background-color: #FFFFFF;
    color: black;
}
.sent-button:hover::before {
    color: #d3007f;
}
.date {
    color:#a3a3a3

}
.user-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/* comments */

.input {
    width: auto;
    display: inline-block;
    font-size: 28px;
    border-bottom: 1px dotted #dee1e5;
    color: #242A37;
    padding: 2px;
    line-height: 34px;
  }
  
  .input[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    color: #dee1e5;
  }